html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
.home-header {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

}
.search {
   text-align: center;
   font-size: 1.3rem;
   border: 1px solid black;
   border-radius: 30px;
}
.searchbox {
   display: flex;
   border: 0;
   background: white;
   @media (max-width: 800px) {
      order: 2;
   }
}
.search-button {
   border: 0px;
   background: white;
}
.navigation {
   display: flex;
   width: 100%;
   gap: 2rem;
   padding-bottom: 20px;
   padding-top: 15px;
   position: sticky;
   top: 0.3rem;
   animation: fadeIn 0.5s;
   @media (max-width: 800px) {
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 1;
   }
}
.home-hrefs {
   display: flex;
   align-items:center;
   justify-content: space-evenly;
   width: 100%;
   max-width: 70rem;
   gap: 5rem;
   font-size: 1.2rem;
   @media (max-width: 800px) {
      order: 1;
      margin: auto;
      flex-grow: 1;
      align-items:center;
      justify-content: space-evenly;
   }
}
.home-href {
   text-decoration: none;
   color:black;
}
.home-href:hover {
   color:rgb(65, 65, 65);
   border:1px solid rgb(65, 65, 65);
   border-radius:20px;
   padding: 2px 10px;
}
.search:focus-visible {
   border:none;
   outline-offset:none;
}
.home-call-worker {
   border: 1px solid black;
   border-radius: 15px;
   background:white;
   padding: 5px;
   margin: 5px;
   max-width: 200px;
   max-height: 30px;
   min-width: 140px;
   @media (max-width: 800px) {
      max-width: 140px;
   }
}
.home-short-info {
   display: flex;
   flex-direction: column;
}
.home-name {
   font-size: 2.5rem;
   animation: fadeIn 0.6s;
}
.home-profession {
   font-size: 1.3rem;
}
.home-main {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items:center;
   padding-top: 4rem;
}
.home-offer {
   font-size: 2rem;
   animation: fadeIn 0.8s;
}

.home-visit_card-worker {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   @media (max-width: 800px) {
      flex-direction: column;
   }
}
.home-content {
   display: flex;
   padding: 2rem;
   flex-direction: row;
}
.home-content-box {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 800px;
   display: flex;
   align-items:center;
   padding: 1.1rem;
   animation: fadeIn 1s;
}
.home-avatar {
   border-radius: 40px;
}
.home-div-description {
   display: flex;
   flex-direction: column;
   padding-top: 1.3rem;
   animation: fadeIn 1.8s;
}
.home-exp {
   padding-top: 1.4rem;
   font-size: 1.2rem;
}
.home-about_me {
   font-size: 1.6rem;
}
.home-footer {
   width: 100%;
   display: flex;
   justify-content: end;
}
.home-float-button {
   border: 0px;
   background:rgba(255, 255, 255, 0);
   display: block;
   position: fixed;
   bottom: 30px;
   right: 20px;
   animation: zoomInDown 2s;
   @media (max-width: 600px) {
       bottom: 10px;
       right: 10px;
  }
   
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer-github-link {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 20px;
  animation: zoomInDown 1.2s;
  @media (max-width: 600px) {
    bottom: 20px;
    right: 10px;
  }
}